footer {
    display: block;
    text-align: center;
    font-size: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: gray;
    /* position: fixed; */
  }